<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberManage">
   
   <!-- <mapper namespace="MemberManage"> -->
<!-- com.example.baekgu_project.dao.SharedDao -->

    <insert id="newpetinsert" parameterType="Map">
    INSERT INTO pet_information(PETINF_ID, MEMBER_ID, SPECIES_ID, PETGEN_ID, PETNAME, BIRTHDATE, PETAGE)
    VALUES(#{PETINF_ID}, #{MEMBER_ID}, #{SPECIES_ID}, #{PETGEN_ID}, #{PETNAME}, #{BIRTHDATE}, CONCAT(TIMESTAMPDIFF(YEAR, #{BIRTHDATE}, CURDATE()), '년 ',
            TIMESTAMPDIFF(MONTH, #{BIRTHDATE}, CURDATE()) % 12, ' 개월'));
    </insert>

    <select id="selectAnimalStatus" parameterType="Map" resultType="Map">
    SELECT * FROM pet_information
    INNER JOIN species ON pet_information.SPECIES_ID = species.SPECIES_ID
    INNER JOIN pet_gender ON pet_information.PETGEN_ID = pet_gender.PETGEN_ID
    AND MEMBER_ID = #{userId}
    </select>

    <select id="updateAndSelect" parameterType="Map" resultType="Map">
    SELECT * FROM pet_information
    INNER JOIN species ON pet_information.SPECIES_ID = species.SPECIES_ID
    INNER JOIN pet_gender ON pet_information.PETGEN_ID = pet_gender.PETGEN_ID
    AND MEMBER_ID = #{MEMBER_ID}
    </select>

    <delete id="deletePet" parameterType="Map">
    DELETE FROM pet_information
    WHERE PETINF_ID = #{petId}
    </delete>

</mapper>