.body {
    background-color: #b3d9eb;
}

.container {
    display: flex;
    justify-content: center;
}

.main_navbar {

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    list-style: none;
    gap: 30px;

}

.a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: large;
}

.logoimg {
    display: flex;
    justify-content: center;
    width: 80px;
    margin: 0 auto
}

.websitename {
    display: flex;
    justify-content: center;
    margin: 1rem auto 1rem auto

}

.puppy {

    display: flex;
    justify-content: center;
    margin: 1rem auto 1rem auto;

}

.puppypic {
    border-radius: 50%;
}

.mainpage_pic {

    border-radius: 50%;
    margin: 0 auto;
}

.picturebox {

    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: white;

}
