table {
    width: 100%;
    border-top: 1px solid black;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 100px;
}

th, td {
    border-bottom: 1px solid black;
    padding: 2cqmin;
}

.table_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table_header{
    font-weight: bolder;
    background-color:antiquewhite;
    text-align: center;
}