.table_box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_table {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  
  th, td {
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
  }

  th:first-child, td:first-child {
    border-left: none;
  }

  .headline {
    text-align: center;
    background-color: antiquewhite;
    font-weight: bolder;
  }