
.main_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.a {
    text-decoration: none;
    color:grey;
    font-size: large;
}

.name {
    text-align: center;
}

.logo {
    width: 50px;
    height: auto;
}

.maintable {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.maintable table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1pm solid black;
}

.table_title {
    color: cadetblue;
}