.member_table {
    margin: 10px auto 20px auto;
    justify-content: center;
    text-align: center;
    width: 80%;
    border-top: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}


.admin_subject {
position: fixed;
}

.search_bar {
    margin-top: 50px;
    position: relative;
    width: 300px;
}

.search_box {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding-right: 40px;
}


input {
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 10px;
    
}

.search_img {
    position: absolute;
    width: 20px;
    top: 0px;
    right: 40px;
    transform: translateY(60%);
}
